<h1>Casos de hospitalización</h1>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" routerLink="/form/caso"
    (click)="update()"> Agregar </button>
<table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Enfermedad</th>
        <th class="mdl-data-table__cell--non-numeric">Descripción</th>
        <th class="mdl-data-table__cell--non-numeric">Paciente</th>
        <th>Fecha de ingreso</th>
        <th>Fecha de salida</th>
        <th>Habitación</th>

    </tr>
    <tr *ngFor="let dato of casos">
        <td class="mdl-data-table__cell--non-numeric">{{dato.enfermedad}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{dato.descripcion}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{dato.pacientes}}</td>
        <td>{{dato.fechaEntrada}}</td>
        <td>{{dato.fechaSalida}}</td>
        <td>{{dato.habitacion}}</td>
    </tr>
</table>