<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" routerLink="/">
        Sistema de hospitalización
      </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <ul class="mdl-navigation">
        <li class="mdl-navigation__link" routerLink="/paciente">Pacientes</li>
        <li class="mdl-navigation__link" routerLink="/caso">Casos</li>
      </ul>
    </div>
  </div>

  

  <div class="mdl-layout__content content"><router-outlet></router-outlet></div>
</div>